.pg3main{
  height:145vh;
  position:relative;
  background-color:rgb(209, 208, 208);
  margin-bottom:-5%;
}
.pg3main .projects{
  position: absolute;
  display:flex;
  flex-direction:column;
  align-items:center;
  top:5%;
  left: 50%;
  transform: translateX(-50%);  
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pg3main .projects .description{
  font-size:20px;
  text-align: center;
  color:rgb(78, 77, 77);
  padding-top:5%;
  
}
.pg3main .projects .mainline{
  font-size:60px;
  text-align:center;
  left:50%;
  margin-bottom:1%;
}

.pg3main .projectslider{
  position:absolute;
  top:32%;
  left:50%;
  transform: translateX(-50%);
  width:100%;
  /* background-color:antiquewhite; */
  height:35%;
  
}

.pg3main .projectslider .carouselview .projectlist{
  display:flex;
  flex-direction:row;
  width: 100%;
  max-height:100%;
  gap:1.5%;
  /* background-color:yellow; */
  scroll-behavior: smooth;
  overflow-x:scroll;
  overflow-y:hidden;
  scroll-snap-type: x mandatory;

}

.pg3main .projectslider .carouselview{
  display:flex;
  flex-direction:row;
  /* background-color:lightgreen; */
  max-width:100%;
  height:100%;

}
.pg3main .projectslider .carouselview .projectlist  .project1 .p1imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project2 .p2imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project3 .p3imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project4 .p4imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project5 .p5imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project6 .p6imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project7 .p7imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project8 .p8imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project9 .p9imgdiv,
.pg3main .projectslider .carouselview .projectlist  .project10 .p10imgdiv{
  width: 100%;
  height:75%;
 
}
.pg3main .projectslider .carouselview .projectlist  .project1 .p1imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project2 .p2imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project3 .p3imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project4 .p4imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project5 .p5imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project6 .p6imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project7 .p7imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project8 .p8imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project9 .p9imgdiv img,
.pg3main .projectslider .carouselview .projectlist  .project10 .p10imgdiv img{
  
  object-fit: fill;
  height:100%;
  width:100%;
  border-radius:6%;
}
.pg3main .projectslider .carouselview .projectlist  .project1 .p1add,
.pg3main .projectslider .carouselview .projectlist  .project2 .p2add,
.pg3main .projectslider .carouselview .projectlist  .project3 .p3add,
.pg3main .projectslider .carouselview .projectlist  .project4 .p4add,
.pg3main .projectslider .carouselview .projectlist  .project5 .p5add,
.pg3main .projectslider .carouselview .projectlist  .project6 .p6add,
.pg3main .projectslider .carouselview .projectlist  .project7 .p7add,
.pg3main .projectslider .carouselview .projectlist  .project8 .p8add,
.pg3main .projectslider .carouselview .projectlist  .project9 .p9add,
.pg3main .projectslider .carouselview .projectlist  .project10 .p10add{
  
  color:#00b5ad;
  font-size:25px;
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.pg3main .projectslider .carouselview .projectlist  .project1 .p1type,
.pg3main .projectslider .carouselview .projectlist  .project2 .p2type,
.pg3main .projectslider .carouselview .projectlist  .project3 .p3type,
.pg3main .projectslider .carouselview .projectlist  .project4 .p4type,
.pg3main .projectslider .carouselview .projectlist  .project5 .p5type,
.pg3main .projectslider .carouselview .projectlist  .project6 .p6type,
.pg3main .projectslider .carouselview .projectlist  .project7 .p7type,
.pg3main .projectslider .carouselview .projectlist  .project8 .p8type,
.pg3main .projectslider .carouselview .projectlist  .project9 .p9type,
.pg3main .projectslider .carouselview .projectlist  .project10 .p10type{
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:20px;
  padding-top:1%;
  
}


.pg3main .projectslider .carouselview .projectlist .project1,
.pg3main .projectslider .carouselview .projectlist .project2,
.pg3main .projectslider .carouselview .projectlist .project3,
.pg3main .projectslider .carouselview .projectlist .project4,
.pg3main .projectslider .carouselview .projectlist .project5,
.pg3main .projectslider .carouselview .projectlist .project6,
.pg3main .projectslider .carouselview .projectlist .project7,
.pg3main .projectslider .carouselview .projectlist .project8,
.pg3main .projectslider .carouselview .projectlist .project9,
.pg3main .projectslider .carouselview .projectlist .project10{
  flex: 0 0 auto;
  width:31%;
  background-color:rgb(253, 250, 250);
  scroll-snap-align: center;
  height:100%;
  border-radius:6%;
  padding:0.5%;
  display:flex;
  flex-direction:column;
  align-items: center;
  
  

}
.projectlist::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.projectlist{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pg3main .projectslider .carouselview .lbutton , .pg3main .projectslider .carouselview .rbutton{
  width:10%;
  border:none;
  border-radius:6%;
  background-color:rgb(209, 208, 208);
  height:100%;

}
.pg3main .projectslider .carouselview .lbutton img,.pg3main .projectslider .carouselview .rbutton img{
  object-fit:contain;
  width: 100%;
}

.pg3main .centered-line {
  position:absolute;
  top:23%;
  left:50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2%;
  width:18%
}

.pg3main .centered-line hr {
  width: 100%; 
  border: 1px solid #00b5ad; 
  background-color: #00b5ad; 
}
.exploreimages{
  position:absolute;
  top:70%;
  left:50%;
  transform: translateX(-50%);
  background-color:#00b5ad;
  height:5%;
  width:10%;
  border:none;
  border-radius:6%;
  color:white;
  font-size:18px;
  padding:0.5%;
}
@media(max-width:600px){
  .pg3main{
    height:100vh;
  }
  .pg3main .projects .mainline{
    font-size:50px;
  }
  .pg3main .centered-line{
    top:37.5%
  }
  .pg3main .projectslider .carouselview .projectlist .project1,
  .pg3main .projectslider .carouselview .projectlist .project2,
  .pg3main .projectslider .carouselview .projectlist .project3,
  .pg3main .projectslider .carouselview .projectlist .project4,
  .pg3main .projectslider .carouselview .projectlist .project5,
  .pg3main .projectslider .carouselview .projectlist .project6,
  .pg3main .projectslider .carouselview .projectlist .project7,
  .pg3main .projectslider .carouselview .projectlist .project8,
  .pg3main .projectslider .carouselview .projectlist .project9,
  .pg3main .projectslider .carouselview .projectlist .project10{
    width:97.5%;
    padding:1%;

  }
  .pg3main .projectslider{
    height:40%;
    top:44%;
  }
  .pg3main .projectslider .carouselview .lbutton img,.pg3main .projectslider .carouselview .rbutton img,
  .pg3main .projectslider .carouselview .lbutton img,.pg3main .projectslider .carouselview .lbutton img{
    width:100%;
  }
  .pg3main .projectslider .carouselview .lbutton , .pg3main .projectslider .carouselview .rbutton,
  .pg3main .projectslider .carouselview .lbutton , .pg3main .projectslider .carouselview .lbutton{
    width:12.5%;
  }
  .exploreimages{
    top:87%;
    width:30%;
    height:5%;
    padding:2%;
    border-radius:10px;
  }
}

