.pg1main{
  height:95vh;
  padding:10px;
  margin:3%;
  background-image:  linear-gradient(to bottom, rgba(209, 208, 208, 0) 85%, rgb(209, 208, 208) 100%),url("../files/bg-img1.4.1.png");
  background-size: cover; /* Makes the image cover the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  position:relative;
  border-radius:30px;
  
}

.pg1main .header{
  /* background-color: lightcoral; */
  position:absolute;/********/
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top:5px;
  left:10px;
  right:0px;
}
.pg1main .header .logo{
  height:100px;
  margin-left:15px;
}

.pg1main .header .logo .logoimage{
  max-height:100%;
  max-width:100%;
  object-fit:contain;

}
.pg1main .header .menu{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.pg1main .header .menu *:hover{
  color:rgba(52,160,164,255);

  
}
.pg1main .header .menu *{
  padding-left:10px;
  padding-right:10px;
  font-size:20px;
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
}
.pg1main .header .socialmedia{
  display:flex;
  flex-direction:column;
  margin-right:2%;

}
.pg1main .header .socialmedia *{
  padding-top:5px;
}
.pg1main .header .socialmedia .mailicon,.pg1main .header .socialmedia .phoneicon{
  width:25px;
  height:25px;
}
.pg1main .header .socialmedia .webicon{
  width:50px;
  height:50px;
  margin-right:10px;
}

.tagline{
  position:absolute;
  display:inline-block;
  top:40%;
  left:21%;
  color:white;
  font-size:35px;
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sideline{
  position:absolute;
  display:inline-block;
  color:rgba(52,160,164,255);
  font-size:25px;
  top:80%;
  left:50%;
  transform: translateX(-50%);
  font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

}